<!DOCTYPE html>
<html>

<%- include('../../public/admin/head.ejs') %>

<body>
    <%- include('../../public/admin/header.ejs') %>
    <%- include('../../public/admin/aside.ejs') %>
    <section class="rt_wrap content mCustomScrollbar">
        <div class="rt_content">
                    
        </div>
    </section>
     <script>
        $('#asideUl a').removeClass('active');
        $(".setSkill").addClass('active');
    </script>
</body>
</html>