<footer>
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-footer col-md-3 widget_recent_entries">
                    <h2 class="footer-title">个人简介</h2>
                    <ul>
                        <li><a href="#">网名:猫咪的猫咪</a></li>
                        <li><a href="#">籍贯:福建仙游</a></li>
                        <li><a href="#">现居:福建福州</a></li>
                        <li><a href="#">爱好:游戏 钓鱼</a></li>
                    </ul>
                </div>
                <div class="col-footer col-md-3 widget_recent_entries">
                    <h2 class="footer-title">关于博客</h2>
                    <ul>
                        <li><a href="#">域 名：www.tclcr.com </a></li>
                        <li><a href="#">服务器：阿里云服务器</a></li>
                        <li><a href="#">程序：nodejs</a></li>
                        <li><a href="#">主框架：bootstrap</a></li>
                    </ul>
                </div>
                <div class="col-footer col-md-3 widget_recent_entries">
                    <h2 class="footer-title">我的职业</h2>
                    <ul>
                        <li><a href="#">主业：全栈工程师</a></li>
                        <li><a href="#">副业：高端品牌淘宝店</a></li>
                        <li><a href="#">副业：网站设计、网站制作</a></li>
                        <li><a href="#">副业：搬砖求包养</a></li>
                    </ul>
                </div>
                <div class="col-footer col-md-3">
                    <h2 class="footer-title">主点技能</h2>
                    <div class="footer-tags">
                        <a href="#">node</a>
                        <a href="#">css3</a>
                        <a href="#">html5</a>
                        <a href="#">js</a>
                        <a href="#">vue</a>
                        <a href="#">light7</a>
                        <a href="#">jquery</a>
                        <a href="#">bootstrap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright ©2013-2017 tclcr.com. All Rights Reserved. 猫咪的猫咪提供技术支持</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div style="display: none;" id="rocket-to-top">
    <div style="opacity:0;display: block;" class="level-2"></div>
    <div class="level-3"></div>
</div>