<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <title>找回密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="猫咪的猫咪的个人博客">
    <meta name="author" content="猫咪的猫咪">
    <!-- CSS -->
    <link rel="stylesheet" href="user/login/css/reset.css">
    <link rel="stylesheet" href="user/login/css/supersized.css">
    <link rel="stylesheet" href="user/login/css/style.css">
    <link rel="stylesheet" type="text/css" href="user/js/layer/skin/layer.css" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body oncontextmenu="return false">

    <div class="page-container">
        <h1>Retrieve password</h1>
        <form action="" method="post">
            <div  class="disRe">
                <input type="text" name="username" class="username" maxlength="10" placeholder="账号" autocomplete="off" />
            </div>
            <div class="disRe">
                <input type="text" name="tel" class="password" maxlength="11" placeholder="手机号" oncontextmenu="return false" onpaste="return false" />
            </div>
            <div  class="disRe">
                <input type="password" name="newPassword" class="newPassword" maxlength="10" placeholder="新密码" autocomplete="off" />
            </div>
            <div class="disRe">
                <input type="password" name="renewPassword" class="renewPassword" maxlength="11" placeholder="确认新密码" oncontextmenu="return false" onpaste="return false" />
            </div>
            <button id="submit" type="button">马上找回</button>
        </form>
        <div class="connect">
            <p style="margin-top:20px;">一个人，一座城，一杯酒，在每个孤独的夜晚！</p>
        </div>
    </div>
    <div class="alert" style="display:none">
        <h2>消息</h2>
        <div class="alert_con">
            <p id="ts"></p>
            <p style="line-height:70px"><a class="btn">确定</a></p>
        </div>
    </div>

    <!-- Javascript -->
    <script src="user/js/jquery-2.1.1.js" type="text/javascript"></script>
    <script src="user/login/js/supersized.3.2.7.min.js"></script>
    <script src="user/login/js/supersized-init.js"></script>
    <script src="user/js/layer/layer.js"></script>
    <script>
        $(".btn").click(function () {
            is_hide();
        })
        var u = $("input[name=username]");
        var t = $("input[name=tel]");
        var p = $("input[name=newPassword]");
        var rep = $("input[name=renewPassword]");
        $("#submit").on('click', function () {
            if (u.val() == '' || t.val() == ''|| p.val() == ''|| rep.val() == '') {
                $("#ts").html("用户名、手机或密码不能为空~");
                is_show();
                return false;
            } else {
                var _data={
                            'username':$.trim(u.val()),
                            'tel':$.trim(t.val()),
                            'newpassword':$.trim(p.val()),
                            'renewpassword':$.trim(rep.val())
                        }
                        $.ajax({
                        type: 'post',
                        dataType: 'json', 
                        url: '/api_user_findPassword',
                        data: _data,
                        success: function(res) {
                                if(res.status==1){
                                    layer.msg(res.data);
                                    setTimeout(function(){
                                        window.parent.location.href="/";
                                    },1000)
                                }else{
                                    layer.msg(res.data);
                                }
                            },
                        error:function(err){
                            console.log(err)
                        }    
                        })
            }
        });
        window.onload = function () {
            $(".connect p").eq(0).animate({
                "left": "0%"
            }, 600);
            $(".connect p").eq(1).animate({
                "left": "0%"
            }, 400);
        }

        function is_hide() {
            $(".alert").animate({
                "top": "-40%"
            }, 300)
        }

        function is_show() {
            $(".alert").show().animate({
                "top": "45%"
            }, 300)
        }
    </script>
</body>

</html>