<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>猫咪的猫咪彷跳舞机游戏</title>
<script src="user/js/jquery-2.1.1.js"></script>
<link href="user/game/tiaowuji/css/keyplayer.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="user/game/tiaowuji/Scripts/keyplayer.js"></script>
</head>

<body>
<div id="tishi"></div>
<br />
<br />
<span id="time"></span>
<div  id="load_progress" style="background-color:#6666ff;width:00%;height:18px"></div>
<br />
<br />
<div class="dv_img"><img id="im1" src="user/game/tiaowuji/images/waitup.gif"  /></div>
<div class="dv_img"><img id="im2" src="user/game/tiaowuji/images/waitright.gif"  /></div>
<div class="dv_img"><img id="im3" src="user/game/tiaowuji/images/waitleft.gif"  /></div>
<div class="dv_img"><img id="im4" src="user/game/tiaowuji/images/waitdown.gif"  /></div>
<div class="dv_img"><img id="im5" src="user/game/tiaowuji/images/waitup.gif"  /></div>
<div class="dv_img"><img id="im6" src="user/game/tiaowuji/images/waitright.gif"  /></div>
<div class="dv_img"><img id="im7" src="user/game/tiaowuji/images/waitleft.gif"  /></div>
<div class="dv_img"><img id="im8" src="user/game/tiaowuji/images/waitdown.gif"  /></div>
<div class="dv_img"><img id="im9" src="user/game/tiaowuji/images/waitdown.gif"  /></div>
<br />
<br />
<div id="btn">
<img id="show" />
<input type="button" value="快速" id="fast" />&nbsp;&nbsp;
<input type="button" value="慢速" id="slow" />
<input type="text" id="lever"  />
<input type="button" value="开始游戏" id="begin" />
<input type="button" value="结束游戏" id="end" />
</div>

</body>
</html>
