<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>大白鲨</title>
  <link rel="stylesheet" href="user/whale/css/normalize.css">
  <link rel="stylesheet" href="user/whale/css/style.css" media="screen" type="text/css" />
</head>
<body>
  <div id="whale"></div>
  <script src="user/whale/js/index.js"></script>
</body>
</html>