<aside class="lt_aside_nav content mCustomScrollbar">
    <h2><a href="index">欢迎您来到猫咪的后台</a></h2>
    <ul id="asideUl">
        <li>
            <dl>
                <dt>博客管理</dt>
                <dd><a href="setBlock" class="active setBlock">发表博客</a></dd>
                <dd><a href="editeBlock" class="editeBlock">编辑博客</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>留言板管理</dt>
                <dd><a href="editeMessage" class="editeMessage">管理留言</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>会员管理</dt>
                <dd><a href="userList" class="userList">会员列表示例</a></dd>
                <dd><a href="userAdd" class="userAdd">添加会员</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>博主信息</dt>
                <dd><a href="#" class="settingInfo">个人信息</a></dd>
                <dd><a href="#" class="setPhone">联系方式</a></dd>
                <dd><a href="#" class="setSkill">主点技能</a></dd>
                <dd><a href="#" class="setHobite">兴趣爱好</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>简历编辑</dt>
                <dd><a href="#" class="editeInfo">管理简历</a></dd>
            </dl>
        </li>
        <li>
            <p class="btm_infor">猫咪的猫咪 版权所有</p>
        </li>
    </ul>
</aside>
<script>
    $('.settingInfo').on('click',function(){
        layer.msg('您没有权限！')
    })
     $('.setPhone').on('click',function(){
        layer.msg('您没有权限！')
    })
      $('.setSkill').on('click',function(){
        layer.msg('您没有权限！')
    })
       $('.setHobite').on('click',function(){
        layer.msg('您没有权限！')
    })
        $('.editeInfo').on('click',function(){
        layer.msg('您没有权限！')
    })
</script>